<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://acmatik.com:3306/acmatik_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">acmatik_ad</property>
    <property name="hibernate.connection.password">a04051980</property>
    <mapping resource="pojo/Dolap.hbm.xml"/>
    <mapping resource="pojo/Users.hbm.xml"/>
    <mapping resource="pojo/Ortam.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
